* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    padding: 20px;
    border: 1px solid #717377;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113,115,119,0.5);
}

input {
    width: 320px;
    padding: 24px;
    margin: 10px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 40px;
    text-align: right;
    box-shadow: 0px 3px 15px rgba(84,84,84,0.1);
}

button {
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
}

.operator {
    color: #6dee0a;
}

.equalBtn {
    background: #fb7c14;
}

.error {
    height: 20px;
    color: #ff5656;
    font-size: 16px;
    text-align: center;
    margin-top: 8px;
}

